// DASHBOARDS

.chart-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.doughnut {
  width: 45%;

}

.bar {
  width: 55%;
}

.chart-container {
  display: flex;
  flex-direction: column;

  canvas {
    margin: 50px;
  }
}

p { 
font: 18px 'Roboto', sans-serif;
 }
 