/* HEADER */

#header {
    border-bottom: solid 1px #d3d3d3;
    display: flex;
    justify-content: space-between;

    >ul {
        display: flex;
        justify-content: space-between;
    }
}

#header-img {
        width: 350px;
        min-width: 250px;
        margin: 20px;
}